{{block "home" .}}
    {{template "top" .}}
    {{template "nav" .}}

    <div class="main">
        <p>{{.MaxWorkouts}} workouts in total</p>

        <ul class="workouts">
            {{range .Workouts}}
                <li><a href="/workout/{{.ID}}">{{.ID}} - {{.Title}}</a></li>
            {{end}}
        </ul>

        {{template "pager" .}}
    </div>

    {{template "bottom" .}}
{{end}}
