{{block "home" .}}
    {{template "top" .}}
    {{template "nav" .}}

    <div class="main">
            <span>{{.MaxWorkouts}} workouts</span>
            <form method="GET">
                <input type="text" name="filter" value="{{.Filter}}">
            </form>

        <ul class="workouts">
            {{range .Workouts}}
                <li><a href="/workout/{{.ID}}">{{.ID}} - {{.Title}}</a></li>
            {{end}}
        </ul>

        {{template "pager" .}}
    </div>

    {{template "bottom" .}}
{{end}}
