{{block "pager" .}}
    <div class="pager">
        {{if gt (len .NumPages) 0}}
        <ul>
            {{range $k, $v := .NumPages}}
                <li>
                    {{if eq $k $.CurrPage}}
                        {{$k}}
                    {{else}}
                        <a href="/?offset={{times $k $.Limit}}&limit={{$.Limit}}">{{$k}}</a>
                     {{end}}
                </li>
            {{end}}
        </ul>
        {{end}}
    </div>
{{end}}
