{{block "workout" .}}
    {{template "top" .}}
    {{template "nav" .}}

    <h2>{{.Workout.ID}} - {{.Workout.Title}}</h2>
    {{if .PostID}}
        <a href="/workout/{{.PostID}}">&lt; {{.PostID}}</a>
    {{end}}
    {{if .PreID}}
        <a href="/workout/{{.PreID}}">{{.PreID}} &gt;</a>
    {{end}}

    {{.Workout.Content}}

    {{template "bottom" .}}
{{end}}
