{{block "workout" .}}
    {{template "top" .}}
    {{template "nav" .}}

    <div class="main">
        <h2>
            {{- if .PostID}}
                <a href="/workout/{{.PostID}}">&lt;</a>&nbsp;&nbsp;
            {{end -}}
                {{.Workout.ID}}
            {{- if .PreID}}
                &nbsp;&nbsp;<a href="/workout/{{.PreID}}">&gt;</a>
            {{end -}}
        </h2>

        {{.Workout.Content}}
    </div>

    {{template "bottom" .}}
{{end}}
